/* You can add global styles to this file, and also import other style files */
/* @import'~bootstrap/dist/css/bootstrap.min.css'; */

.row.make-columns {
  -moz-column-width: 19em;
  -webkit-column-width: 19em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
.row.make-columns > div {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
}